@font-face {
    font-family: poppinsBlack;
    src: url(fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: poppinsExtraBold;
    src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppinsBold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsSemibold;
    src: url(fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppinsMedium;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsRegular;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsMediumIt;
    src: url(fonts/Poppins-MediumItalic.ttf);
}
h1
{
    font-family: poppinsExtraBold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-size: 40px;
}
h3
{
    font-family: poppinsRegular;
    text-transform: uppercase;
    text-align: center;
}
header
{
    margin-top: 80px;
    margin-bottom: 50px;
}
footer
{
    padding-bottom: 150px;
  
}
.felsocim
{
    font-family: poppinsBlack;
    color: #5E412F;
    font-size: 49.3px;
}
.alsocim
{
    font-size: 40px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #5e412f;
}
.imgcim
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    pointer-events: none;
}
#breweryImg
{
    opacity: 0.05;
    position: absolute;
    top: -1%;
    left: -13%;
    width: 50%;
    height: 50%;
    z-index: -1;
}
#breweryImg2
{
    opacity: 0.05;
    position: absolute;
    top: 140%;
    left: -11%;
    width: 40%;
    height: 40%;
    z-index: -1;
}
#conversationImg
{
    opacity: 0.05;
    position: absolute;
    top: 280%;
    left: -10%;
    width: 40%;
    height: 40%;
    z-index: -1;
}
nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

}
nav li
{
    display: inline-block;
}

nav a
{
    font-size: 16px;
    font-family: poppinsMedium;
    margin-top: 20px;
    display: block;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #5E412F;
    transition: background 0.3s, color 0.3s;
}
.topbuttons
{
    position: absolute;
    top: 90px;
    right: 10%;
}

.buttonTop
{
    background: #252222;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    margin-left: 3px;
    margin-right: 3px;
}
.buttonTop:hover
{
    background: #604848;
    color: #F0F0D8;
    transition: background 0.3s color 0.3s,
}
.cartBtn
{
    margin-left: 7px;
    margin-right: 0;
}
nav a:hover
{
    background: #5E412F;
    color: #ffffff;
    font-family: poppinsSemibold;
}
@media screen and (max-width: 550px) {
    nav li {
        display: block;
    }
}
#mainpage h1
{
    font-size: 50px;
}
h2 {
    font-family: poppinsBold;
    text-transform: uppercase; 
    font-size: 35px;
}
.slideshowcontainer {
  position: relative;
  text-align: center;
  color: white;
}
.slideshowcontainer h1
{
    color: #ff5555;
}
.slideshowcontainer img
{
    /*width: 40%;*/
}
#slideshowBG
{
    margin-left: -120px;
    width: 120%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainDrinks
{
    margin: auto;
}
.mainDrinks img
{
    width: 20%;
}
#products h1
{
    color: #f07818;
}
#products, #Gallery, #Reviews
{
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
}
#products, #Gallery, #Reviews h1
{
    padding-top: 20px;
}
.introhr
{
    border: none;
    border-top: 3px solid black;
    width: 10%;
    margin: 10px 0px 10px 0px;

}
#Gallery
{
    background: #79c1a8;
}
#Gallery h1
{
    color: #ffffff;
}
#Gallery div img
{
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    transition: 0.2s ease;
}
#Gallery div img:hover
{
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
}
#Reviews h1
{
    color: #76c400;
}
.mainimages
{
    position: relative;
    margin-top: 30px;
    padding-bottom: 20px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -32px;
  margin-right: 40px;
  margin-left: -40px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.producttitle
{
  text-decoration: none;
}
.mainimages img
{
    object-fit: cover;
    height: 200px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.buttonMain{
    background: #252222;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    margin-top: 60px;
    margin-bottom: 60px;
    border: none;
}
.buttonMain:hover
{
    background: #604848;
    color: #F0F0D8;
    transition: background 0.3s color 0.3s,
}
#slideshowTitle
{
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
}
#productsTitle
{
    text-shadow: 3px 3px 0px rgba(91, 51, 19, 1);
}
#galleryTitle
{
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    font-size: 50px;
}
#reviewsTitle
{
    text-shadow: 3px 3px 0px rgba(28, 72, 35, 1);
}
#footerTitle
{
    text-shadow: 3px 3px 0px rgba(86, 86, 86, 1);
}

/* Order */
.orderdiv h1
{
    color: #ff5555;
    font-size: 35px;
}
.orderdiv
{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 40px;
    padding-bottom: 30px;
}
.orderbutton
{
  text-align: center;
}
.orderpayment
{
  padding-top: 200px;
}

/* Register */
.regdiv h1{
  color: #ff5555;
  font-size: 35px;
}
.regdiv{
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 40px;
  padding-bottom: 30px;
}
.regbdate input{
  width: 15%;
  margin-right: 3%;
  float: left;
  margin-bottom: 30px;
}
.regbutton
{
  text-align: right;
  padding-top: 1%;
}

/* Profile */
.profilediv h1
{
    color: #ff5555;
    font-size: 35px;
}
.profilediv
{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 40px;
    padding-bottom: 30px;
}
.shippingcheckbox
{
  text-align: center;
}
.shippingbottom input{
  width: 20%;
  margin-right: 5%;
  float: left;
  margin-bottom: 30px;
}
.buttonSaveShipping{
  background: #000000;
  color: #ffffff;
  text-decoration: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  appearance: button;
  animation: blank 0.5s forwards;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
  border: 3px solid #000000;
}
.buttonSaveShipping:hover
{
  background: #ff5555;
  color: #000000;
  transition: background 0.3s color 0.3s,
}

/* Login */
.login
{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 40px;
    padding-bottom: 30px;
}
.buttonLogin{
    background: #FFFFFF;
    color: #2d2b2b;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    border: 3px solid #000000;
}
.buttonLogin:hover
{
    background: #604848;
    color: #F0F0D8;
    transition: background 0.3s color 0.3s,
}
.buttonLoginActual{
  width: 13.4%;
  height: 46px;
    background: #FFFFFF;
    color: #2d2b2b;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    border: 3px solid #000000;
}
.buttonLoginActual:hover
{
    background: #604848;
    color: #F0F0D8;
    transition: background 0.3s color 0.3s,
}
.registerbutton
{
  text-align: left;
}

/* Cart */
table {
  width: 100%;
    background: white;
    text-align: left;
    font-family: poppinsBold;
}
table, td {
  border: 3px solid #000000;
}
th, td {
  padding: 5px;
  text-align: left;
}
.cart h4
{
    text-align: right;
}
.buttonCart{
    background: #252222;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    animation: blank 0.5s forwards;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    margin-top: 60px;
    margin-bottom: 60px;
    border: none;
    text-align: right;
}
.buttonCart:hover
{
    background: #604848;
    color: #F0F0D8;
    transition: background 0.3s color 0.3s,
}

footer
{
    padding-left: 12%;
    padding-right: 12%;
    background: #0B0B0B;
    color: aliceblue;
    height: 600px;
}
footer h1
{
    font-size: 50px;
    padding-top: 20px;
}
.column
{
    float: left;
    width: 33.33%;
}
#footerkapcsolat
{
    padding-top: 80px;
    padding-left: 40px;
}
#footermap
{
    text-align: right;
}
.buttonFooter{
    background: #FFFFFF;
    color: #2d2b2b;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
}
.buttonFooter:hover
{
    background: #604848;
    color: #F0F0D8;
    transition: background 0.3s color 0.3s,
}
input[type="date"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    font-family: poppinsMedium;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #000000;
}
textarea {
    resize: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #000000;
    width: 100%;
}
body {
    font-family: poppinsRegular;
    margin: 0 !important;
    font-size: 15px;
    line-height: 1.5;
    background: #FCEBB6;
    max-width: 100%;
    overflow-x: hidden;
}
#sorok1, #sorok5, #sorok9, #sorok13, #sorok17
{
     background: linear-gradient(90deg, rgba(120,192,168,1) 30%, rgba(0,0,0,0) 100%);
}
#sorok1 h2, #sorok5 h2, #sorok9 h2, #sorok13 h2, #sorok17 h2
{
    color: #F07818;
    text-shadow: 2px 2px 0px #5B3313;
    
}
#sorok2, #sorok6, #sorok10, #sorok14, #sorok18
{
     background: linear-gradient(90deg, rgba(240,170,52,1) 30%, rgba(0,0,0,0) 100%);
}
#sorok2 h2, #sorok6 h2, #sorok10 h2, #sorok14 h2, #sorok18 h2
{
    color: #FF5555;
    text-shadow: 2px 2px 0px #5B3313;
}
#sorok3, #sorok7, #sorok11, #sorok15, #sorok19
{
     background: linear-gradient(90deg, rgba(241,126,32,1) 30%, rgba(0,0,0,0) 100%);
}
#sorok3 h2, #sorok7 h2, #sorok11 h2, #sorok15 h2, #sorok19 h2
{
    color: #78C0A8;
    text-shadow: 2px 2px 0px #1A4033;
}
#sorok4, #sorok8, #sorok12, #sorok16
{
     background: linear-gradient(90deg, rgba(168,127,86,1) 30%, rgba(0,0,0,0) 100%);
}
#sorok4 h2, #sorok8 h2, #sorok12 h2, #sorok16 h2
{
    color: #76C400;
    text-shadow: 2px 2px 0px #1A4033;
}
.sorok-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    grid-gap: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    padding-top: 30px;
}
@media (max-width: 820px) {
    .sorok-container {
        display: block;
    }
    }
@media (max-width: 820px) {
    .velemenyalso
    {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    }
.sorkep
{
    margin-top: 20px;
    width: 300px;
    height: 350px;
    float: left;
    object-fit: contain;
    position: relative;
    top: 0px;
    transition: transform .4s ease-in-out;
    filter: drop-shadow(4px 4px 11px rgba(0, 0, 0, 0.40));
    -webkit-filter: drop-shadow(4px 4px 11px rgba(0, 0, 0, 0.40));
    -moz-filter: drop-shadow(4px 4px 11px rgba(0, 0, 0, 0.40));
}
.sorkep:hover{

    transform: translate3d(0px, -30px, 0px);
}
.sorok-container .item3
{
    text-align: right;
    position: relative;
}
#sorok
{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
}
#hatranyok h4
{
    padding-top: 6px;
}
.button{
    background: #F0F0D8;
    color: #604848;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 8px;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);

}
.button:hover
{
    background: #604848;
    color: #F0F0D8;
    transition: background 0.3s color 0.3s,
}

.indexudv
{
    padding-top: 6%;
}
.indexlink
{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}
.buttonindex{
    text-align: center;
    background: #F0F0D8;
    font-size: 60px;
    color: #604848;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 8px;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);

}
.buttonindex:hover
{
    background: #604848;
    color: #F0F0D8;
    transition: background 0.3s color 0.3s,
}
.velemenyalso
{
    position: absolute;
    bottom: 0;
    right: 0;
}
#addedtocart{
    position: fixed;
    left: 10%;
    bottom: 0;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-family: poppinsBold;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.14);
    animation: blank 2s forwards;
    opacity: 0;
    background: black;
    padding: 10px 10px 10px 10px;
    z-index: 1;
}
@keyframes added {
    0%   {opacity: 0;}
    25%  {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

                                            /* Velemenyphp */
#velemeny
{
    padding-left: 30%;
    padding-right: 30%;

}
/* #velemenynev
{
    width: 40%;
    float: left;
}
velemenyelony
{
    width: 40%;
    float: right;
} */
optgroup
{
    font-family: poppinsRegular;
}
.custom-select
{
  padding-top: 20px;
}
.select-css {
  display: block;
  font-size: 16px;
    font-family: poppinsRegular;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 3px solid #000000;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

  */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hover style */
.select-css:hover {
  border-color: #888;
}
/* Focus style */
.select-css:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa;
}

.velemenykuldes:hover{
    padding: 30px;
}
button{
    background: #F0F0D8;
    color: #604848;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    border-radius: 8px;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);

}
button:hover
{
    background: #604848;
    color: #F0F0D8;
    transition: background 0.3s color 0.3s,
}
.nagykep img
{
    width: 20%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
#vilagosbuza h1
{
    font-family: poppinsBold;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
.infocontainer
{
      display: grid;
  grid-template-columns: 32% 32% 31%;
    grid-template-rows: 100%;
    grid: ;
  grid-gap: 3rem;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
.leirassor
{
    float: left;
}
.alapanyagsor
{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.alapanyagsor h2
{
    text-align: center;
}
.alapanyagvonal
{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.alapanyagkep
{
    width: 80%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.tortenetsor
{
    float: right;
    text-align: right;
}
.tortenetsor h3
{
    float: right;
    text-align: right;
}
.tortenetsor h2
{
    text-align: right;
}
leirassor h2
{
    text-transform: uppercase;
    text-align: left;
}
.ar {
    margin-left:auto;
    margin-right:auto;
}
.ar {
    text-align: center;
}
.ar img
{
    width: 100px;
}

#ScrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer; 
    padding: 15px 15px 15px 15px; 
    border-radius: 100%; 
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
    font-size: 15px;
}

#ScrollToTopBtn:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
}

#ScrollImg{
    width: 30px;
    height: 30px;
}
.redtitle
{
    color: #FF5555;
    font-size: 40px;
    font-family: poppinsExtraBold;
    text-shadow: 2.5px 2.5px 0px rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;
}
.productBtn1
{
    outline: 3px solid black;
    outline-offset: -3px;
    font-family: poppinsSemibold;
    background: rgba(0, 0, 0, 0);
    color: black;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: pointer;
    border: none;
    float: left;
    margin-right: 10px;
}
.productBtn1:hover
{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
}
.productBtn2
{
    font-family: poppinsSemibold;
    background: #0b0b0b;
    color: white;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    appearance: button;
    animation: blank 0.5s forwards;
    border-radius: 0;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);   
}
.productBtn2:hover
{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
}

.password
{
    font-family: poppinsMedium;
}
.kapcsolat
{
    font-family: poppinsMedium;
}